main
{
    background-color: rgba(224,227,255,0.7);
    border-radius: 5px;
    width: 99.5%;
    margin-left: calc(1%/4);
    position: relative;
    height: 3700px;
    margin-bottom: 5px;
}

h3 /* для приготовления вам понадобится*/
{
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
}

hr{
    position: absolute;
    top: 450px;
    width: 100%;
    border-color: lightblue;   
    opacity: 0.6;
}

.mainname
{
    position: absolute;
    top: -10px;
    left: calc(50% - 170px);
    
}

.mainreceptphoto
{
    position: absolute;
    height: 320px;
    width: 32%;
    min-width: 200px;
    margin-left: 4%;
    margin-top: 100px;
    float: left;
}

.ingred
{
    position: absolute;
    margin-left: 44%;
    top: 100px;
    width: 50%;
    background-color: #FBF4C1;
    border-radius: 5px;
    height: 300px;
}

.ingred li
{
    margin-bottom: 12px;
    font-size: 14pt;
    border-bottom: 1px dotted gray;
}

.ingreds1
{
    width: 250px;
    float: left;
    margin-top: 20px;
    margin-left: 75px;
}

.ingreds1 li
{
    width: 284px;
}

.ingreds1 li::marker 
{
  color: gray;
  font-size: 12pt;
}

.ingreds2
{
    width: 157px;
    margin-left: 320px;
    margin-top: 30px;
    list-style: none;
}

.step1text
{
    position: sticky;
    top: 70px;
    background-color: #FBF4C1;
    border-radius: 5px;
    font-size: 16pt;
    min-width: 200px;
    padding: 10px 12px 10px 12px;
}

.step1textSticky
{
    
    position: absolute;
        width: 45%;
    margin-left: 30px;
    margin-top: 500px;
    height: 900px;
}

.step1photo1
{
    float: right;
    height: 450px;
    width: 560px;
    margin-top: 500px;
    margin-right: 75px;
    border: 1px solid gray;
}

.step1photo2
{
    height: 450px;
    width: 560px;
    margin-top: 40px;
    margin-left: 710px;
    border: 1px solid gray;
}

.hrstep1
{top: 1470px;}

.step2photo1
{
    height: 370px;
    width: 480px;
    margin-top: 60px;
    margin-left: 65px;
    border: 1px solid gray;
    border-radius: 3px;
}

.step2textSticky
{
    position: absolute;
        width: 45%;
    margin-left: 630px;
    top: 1510px;
    height: 370px;
}

.step2text
{
    position: sticky;
    top:60px;
    margin-left: auto;
    background-color: #FBF4C1;
    border-radius: 5px;
    font-size: 16pt;
    min-width: 200px;
    padding: 14px 15px 14px 15px;
}

.hrstep2
{top: 1910px;}

.step3photo1
{
    position: absolute;
    height: 370px;
    width: 480px;
    margin-top: 515px;
    right:60px;
    border: 1px solid gray;
    border-radius: 3px;
}

.step3textSticky
{
    position: absolute;
        width: 45%;
    margin-left: 56px;
    top: 1965px;
    height: 370px;
}

.step3text
{
    position: sticky;
    top:60px;
    margin-left: auto;
    background-color: #FBF4C1;
    border-radius: 5px;
    font-size: 16pt;
    min-width: 200px;
    padding: 14px 15px 14px 15px;
}

.hrstep3
{top: 2370px;}

.step4textSticky
{
    position: absolute;
    width: 45%;
   left: 676px;
    top: 2385px;
    height: 840px;
}

.step4text
{
    position: sticky;
    top:60px;
    margin-left: auto;
    background-color: #FBF4C1;
    border-radius: 5px;
    font-size: 20pt;
    min-width: 200px;
    padding: 15px;
    text-align: center;
}

.step4photo1
{
    position: absolute;
    height: 370px;
    width: 480px;
    margin-top: 965px;
    left:60px;
    border: 1px solid gray;
    border-radius: 3px;
}

.step4photo2
{
    position: absolute;
    height: 370px;
    width: 480px;
    margin-top: 1365px;
    left:60px;
    border: 1px solid gray;
    border-radius: 3px;
}

.step4photo3
{
    position: absolute;
    height: 370px;
    width: 480px;
    margin-top: 1765px;
    left:60px;
    border: 1px solid gray;
    border-radius: 3px;
}